<nav class="main-nav">
    <div class="site-title"><a href="/">hmil</a></div>
    <div class="sep"></div>
    <a href="/">Blog</a>
    <a href="https://hmil.fr/">About</a>
    <div class="spacer"></div>
    <a href="/rss.xml">rss</a>
</nav>